@model SGE.Models.Almoxarifado

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-danger">Editar Almoxarifado (@ViewBag.Nome)</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeEstoque" class="control-label"></label>
                <input asp-for="QuantidadeEstoque" class="form-control" />
                <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalEventoId" class="control-label"></label>
                @Html.DropDownList("LocalEventoId", new SelectList(ViewBag.LocalEventoId, "Id", "Nome", null), "Selecione o Local", new { @class = "form-control" })
                <span asp-validation-for="LocalEventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosicaoAlmoxarifadoId" class="control-label"></label>
                @Html.DropDownList("PosicaoAlmoxarifadoId", new SelectList(ViewBag.PosicaoAlmoxarifadoId, "Id", "Nome", null), "Selecione a Posição", new { @class = "form-control" })
                <span asp-validation-for="PosicaoAlmoxarifadoId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />          
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

