@{
    ViewData["Title"] = "Privacidade";
}
<h2>@ViewData["Title"]</h2>

<h3>O que eu preciso saber sobre cookies?</h3>
<p>
    Cookies são pequenas unidades de dados enviadas por um site e armazenadas no dispositivo do usuário do site enquanto ele navega pelo site. Os cookies têm várias funções diferentes, tais como permitir que o site conheça a sua atividade anterior no site, para tornar sua utilização mais eficiente e agradável, lembrar-se das suas preferências, permitir sua navegação pelo site e autenticá-lo caso você tenha se registado no site ou pretenda realizar uma compra através dele.
</p>
<p>
    Os cookies podem também ajudar a assegurar que os anúncios que visualiza on-line sejam mais relevantes para você e seus interesses.
</p>
<p>
    A utilização de cookies não danifica o seu computador de nenhuma forma. Eles normalmente são eliminados de forma automática após um determinado período de tempo. Você pode encontrar mais informações sobre cookies em: <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>
</p>
<h3>Não usamos cookies para:</h3>

<p>
    - obter qualquer informação pessoalmente identificável (sem a sua autorização expressa)<br />
    - obter qualquer informação sensível (sem a sua autorização expressa)<br />
    - passar seus dados para redes de publicidade<br />
    - passar seus dados pessoalmente identificáveis a terceiros<br />
</p>