@model SGE.Models.Contrato

@{
    ViewData["Title"] = "Contrato";
}

<h2>Novo</h2>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModeloContratoId" class="control-label"></label>
                <select asp-for="ModeloContratoId" class ="form-control" asp-items="ViewBag.ModeloContratoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventoId" class="control-label"></label>
                <select asp-for="EventoId" class ="form-control" asp-items="ViewBag.EventoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EntidadeId" class="control-label"></label>
                <select asp-for="EntidadeId" class ="form-control" asp-items="ViewBag.EntidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

